In [4]:
import pandas as pd
l = [{'name' : 'yassin' ,'age' : 13,'salary ': 10000 ,'start ':2022 }
     ]
DF = pd.DataFrame(l)
print(DF)

     name  age  salary   start
0  yassin   13    10000    2022